dist: xenial
language: python
python:
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
install:
  - pip install -r requirements.txt
script:
  - nosetests --with-coverage --cover-package flask_sieve
after_success: 
    - coveralls
