[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coveralls = "*"
nose = "*"
autopep8 = "*"
pylint = "*"

[packages]
requests = "*"
python-dateutil = "*"
pytz = "*"
flask = "*"
pillow = "*"
werkzeug = "*"
filetype = "*"

[requires]
python_version = "*"
