[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coveralls = "*"
nose = "*"

[packages]
requests = "*"
python-dateutil = "*"
pytz = "*"
flask = "*"
pillow = ">=7.1.0"
werkzeug = "*"
filetype = "*"

[requires]
python_version = "*"
