[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
nose = "*"
python-dateutil = "*"
pytz = "*"
coveralls = "*"
wheel = "*"
twine = "*"
flask = "*"
pillow = "==5.4.1"
recommonmark = "*"
pallets-sphinx-themes = "*"
sphinx = "==1.8.5"
urllib3 = "*"
werkzeug = "==0.15.3"

[requires]
python_version = "3.7"
